<!DOCTYPE html>
<head>
<style>
body{text-align: center;
     background: url(http://www.apartmenttherapy.com/uimages/boston/Joan%20Clancy%20Gallery%20view.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: white;
     font-family: Californian FB;}
h1{font-size: 30px}
h2{font-size: 22px}
h3{font-size: 18px}
p{font-size: 16px;}
input{border:0;
      padding: 12px;
      font-family: Californian FB;
      font-size: 12px}
input[type="submit"]{background: darkgreen;
                     color: white;}
</style>
</head>
<body>
<h1>Tara Loboda</h1>
<h2>Policy Assistant</h2>
<h3>Association of Community Human Service Agencies</h3>
<p>M.S. in Psychology, Palo Alto University</p>
<p>B.A. in Psychology, Johns Hopkins University</p>
<input type="email" 
placeholder="Email"> 
<input type="submit">
</body>