   <div class="container">
      <div class="headline">
        <h2>Mike + Tara</h2>
        <p>are getting married!</p>
      </div>
    </div>
    
    <div class="container photosc">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/47854_10100162224238146_3680138_n.jpg?oh=9115a5b832f051e9101dae0b20aaca65&oe=54413083&__gda__=1413090636_1e5c8cfc59c35a9deb27f5ef657097df">
          </div>
        </div>  
           
        <div class="col-md-4">       
          <div class="thumbnail">
            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/602398_10101870520214325_658171658_n.jpg">
          </div>
        </div>
           
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/t1.0-9/47050_10100162269213016_5452612_n.jpg">
          </div>
        </div>
      </div>    
    </div>

    <div class="container">     
      <div class="row">  
        <div class="col-md-4"> 
          <div class="thumbnail">
            <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/45861_10100162236648276_4264286_n.jpg">
          </div>
        </div> 
               
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/44833_10100163175905996_3916209_n.jpg">
          </div>
        </div>  

        <div class="col-md-4">
          <div class="photos">
            </br>
            <h3>Mike</h3>
            <p class="text-center"><a href="#">Click for pictures of Mike through the years.</a></p>
            </br></br>  
            <h3>Tara</h3>
            <p class="text-centerf"><a href="#">Click for pictures of Tara through the years.</a></p>
          </div>
        </div>
      </div>
    </div>  


