<div class="container">
  <div class="headline">
    <h3>RSVP</h3>
  </div>
</div>

<div class="container rsvpc">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <div class="well well-sm well-rsvp">
        <h3>We hope you can celebrate with us!</h3>
        <p>To RSVP, please fill out the form below or email us at <a href="mailto:cuibodas@gmail.com">cuibodas@gmail.com.</a></p>
      </div>
    </div>

      <div class="col-md-2">
      </div>
  </div>

  <div class="row">
    <div class="rsvp">
        <iframe src="https://docs.google.com/forms/d/12kfdM4sgflSKqL3eZiJzQXHYEWnZKKWzg9dfIcNdc9U/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
  </div>
</div>
