<div class="container">
  <div class="headline">
    <h2>Travel Tips</h2>
  </div>
</div>

<div class="container tipsc">
  <div class="row">
    <div class="col-md-6">
    	<div class="panel panel-default">
  			<div class="panel-heading">
  				<i class="fa fa-car fa-4x"></i>
    			<h3 class="panel-title">Transportation</h3>
  			</div>
  			<div class="panel-body">
    		Renting a car is highly recommended! Los Angeles is an urban sprawl with few public transportation options.
  			</div>
		</div>
    </div>

    <div class="col-md-6">
    	<div class="panel panel-default">
  			<div class="panel-heading">
  				<i class="fa fa-sun-o fa-4x"></i>
    			<h3 class="panel-title">Weather</h3>
  			</div>
  			<div class="panel-body">
    		Bring a sweater! Even sunny LA gets cold in the winter after dark. The average high for the month of January is 68 degrees.
  			</div>
    	</div>
    </div>
  </div>
</div>

