<div class="container">
  <div class="headline">
    <h3>When</h3>
  </div>
</div>

<div class="container calendarc">
  <div class="row">
    <div class="col-md-2">
    </div>

  	<div class="col-md-8">
      <div class="calendar">
        <div class="embed-responsive embed-responsive-4by3">
    		 <img src="https://docs.google.com/drawings/d/1XADC8HPOGFF4SKUH-XyUfsRKmxlCKF7zQ2bO029ac-Y/pub?w=800&amp;h=560">
    		</div>
    	</div>
    </div> 

    <div class="col-md-2">
    </div>
  </div>
</div>