<!DOCTYPE html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <ul class="pull-left">
          <li><%= link_to("Who", who_path) %></li>
          <li><%= link_to("When", when_path) %></li>
          <li><a href="#">Where</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">RSVP</a></li>
        </ul>
      </div>
    </div>
    
   <div class="container">
    <div class="headline">
        <h2>When</h2>
      </div>
    </div>

    <div id="upto-calendar-container-FtKO" class="upto-calendar-plugin">
      <script>!function(c,b,a){function d(h){var e=document.getElementById("upto-calendar-container-"+c),f=document.createElement("SCRIPT"),g="    http://upto.com/js/plugin.js";f.onreadystatechange=function(){if(f.readyState==="loaded"||f.readyState==="complete"){f.onreadystatechange=null;h()}};f.onload=function(){h()};f.setAttribute("src",g);e.parentNode.insertBefore(f,e)}d(function(){upto.init(c)})}("FtKO");
      </script>
    </div>
  </body>