<div class="container">
  <div class="headline">
    <h2>When</h2>
  </div>
</div>

<div class="date">
	<h1>January 17, 2015</h1>
</div>

<div class="container calendarc">
  <div class="row">
  	<div class="col-md-12">
      <div class="calendar">
        <div class="embed-responsive embed-responsive-4by3">
    		  <iframe class="embed-responsive-item" src="https://www.google.com/calendar/embed?src=li2qaa04bbikb80v51ovgpceoc%40group.calendar.google.com&ctz=America/Los_Angeles&dates=20150117/20150117" style="border: 0" width="600" height="600" scrolling="no">
    		  </iframe>
    		</div>
    	</div>
    </div> 
  </div>
</div>