<div class="container">
  <div class="headline">
    <h2>When</h2>
  </div>
</div>

<div class="date">
	<h1>January 17, 2015</h1>

<div class="container calendarc">
  	<div class="row">
  		<div class="calendar">
    		<div class="col-md-12">
    		<iframe src="https://www.google.com/calendar/embed?src=li2qaa04bbikb80v51ovgpceoc%40group.calendar.google.com&ctz=America/Los_Angeles&dates=20150117/20150117" style="border: 0" width="850" height="500" frameborder="0" scrolling="no">
    		</iframe>
    		</div>
    	</div>
	</div> 
 </div>