<div class="container">
  <div class="headline">
    <h2>Where</h2>
  </div>
</div>

<div class="container mapc">
  <div class="row">
    <div class="map">
      <div class="col-md-8">
        <iframe src="http://www.weddingmapper.com/wedding/commercial_view/0r8ikf?show_title=true&show_location_list=true#101:1049h;f10634.ebA8-118.^Y]0" width="850" height="600" frameborder="0" name="wm_674072" scrolling="no">
        </iframe>
      </div>
    </div>
    
    <div class="message">
      <div class="col-md-4">
        <p>You've found our wedding map, which includes ceremony/reception information, nearby airport and hotel options, and driving directions. The map is interactive, so click to your heart's content! We can't wait to see you in January!</p>
      </br>
      <h3><u>Additional Lodging Options</u></h3>
      <p>
      <a href="https://www.airbnb.com">Airbnb</a>
      </p>
      <p>Stay at a local apartment, condo, or home with Airbnb. Try searching for the following locations: &quot;Pasadena,&quot; &quot;Glendale,&quot; &quot;Burbank.&quot;</p>
      </div>
    </div>

  </div>  
</div>    
    