<!DOCTYPE html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <ul class="pull-left">
          <span class="glyphicon glyphicon-home"></span>
          <li><%= link_to("Who", who_path) %></li>
          <li><%= link_to("When", when_path) %></li>
          <li><%= link_to("Where", where_path) %></li>
        </ul>
        <ul class="pull-right">
          <li><%= link_to("RSVP", rsvp_path) %></li>
        </ul>
      </div>
    </div>
    
    <div class="container">
      <div class="headline">
        <h2>Where</h2>
      </div>
    </div>
    

  </body>
</html>