<div class="container">
  <div class="headline">
    <h3>Where</h3>
  </div>
</div>

<div class="container mapc">
  <div class="row">
    <div class="message">
      <div class="col-md-4">
        <div class="well well-lg">
        <h3><u>Ceremony and Reception</u></h3>
        <p>The Thursday Club</br>4440 Woodleigh Lane</br>La Ca&ntilde;ada-Flintridge, CA 91011</br></br>*Click on the icons to your right for more information about flying, driving, and staying!</p>
        </br>
        </div>

        <div class="well well-lg">
        <h3><u>Additional Lodging</u></h3>
        <p>Stay at a local apartment, condo, or home with <a href="https://www.airbnb.com" target="_blank">Airbnb</a> or <a href="https://www.vrbo.com" target="_blank">VRBO</a>. Try searching for the following locations: Pasadena, Glendale, Burbank, Studio City.</p>
      </div>
    </div>

    <div class="map">
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src="http://www.weddingmapper.com/wedding/commercial_view/0r8ikf#101:1049h;f10634.ebA8-118.^Y]0" width="600" height="600" frameborder="0" name="wm_674072" scrolling="no"></iframe>
        </div>
      </div>
    </div>    

  </div>  
</div>    
    