<div class="container">
  <div class="headline">
    <h2>Where</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <iframe class="displayed" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3299.9337142729464!2d-118.19118099999999!3d34.199169999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c20928858be1%3A0x71b59c94c01978d1!2sLa+Canada+Thursday+Club!5e0!3m2!1sen!2sus!4v1409855942244" width="600" height="500" frameborder="0"></iframe>
    </div>

    <div class="col-md-6">
      <div class="venue">
        <h1>Ceremony and Reception</h1>
        <h2>La Ca&ntilde;ada Thursday Club</h2>
        <p>4440 Woodleigh Ln
        </br>
        La Ca&ntilde;ada-Flintridge, CA 91011
        </br>
        <a href='http://www.lacanadathursdayclub.org/' target='_blank'>Click to visit the venue site.</a></p> 
        </br>
        <h1>Recommended Hotels</h1>   
      </div>
    </div>
  </div>  
</div>    
    