<div class="container">
  <div class="headline">
    <h3>Who</h3>
  </div>
</div>

<div class="container photosc">
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="https://lh6.googleusercontent.com/u4chf6ut2bUGV2syYrjsvOnKcD_Bgwr8g7B8_9BjDHI=w476-h595-no">
          </div>
        </div>  

        <div class="col-md-3">
          <div class="thumbnail">
            <img src= "https://lh5.googleusercontent.com/-iQGgUiU0_yA/VD1j4qJcuoI/AAAAAAAAAbA/bCbaf-Ifv6E/w476-h595-no/photo%2B5.JPG">
          </div>
        </div>  

         <div class="col-md-3">
          <div class="thumbnail">
            <img src= "https://lh3.googleusercontent.com/nYT5_m7WuaNfyPWpDwImjjNXKLxXTzelWOT889TV3ds=w476-h595-no">
          </div>
        </div>  

         <div class="col-md-3">
          <div class="thumbnail">
            <img src= "https://lh3.googleusercontent.com/-jJCP-crPxnY/VD1jyt2Kt3I/AAAAAAAAAdc/PHVKfcv0GyU/w476-h595-no/photo%2B2.JPG">
          </div>
        </div>  