/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

@import "bootstrap";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:400");

.nav {
  margin-top: 30px;
  a {
    color: #5a5a5a;
    font-size: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    padding: 14px 10px; 
    text-transform: uppercase;
  }
  li {
    display: inline;
  }
}

.headline {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  h2 {
    color: #393c3d;
    font-size: 95px;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    text-align:center;
  }
  p {
    font-size: 32px;
    margin-bottom: 13px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
  }
}

.photos {
  h3 {
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-weight: bold;
  }
  a {
    color: #00b0ff;
  }
  p {
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
  }
}

.body {
  margin-bottom: 13px;
}



